<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="nav">
        <%- include('partials/nav'); %>
    </div>

    <div class="wrapper">
        <h2>3</h2>
        <div class="btn_btn">
            <button type="button" class="btn_right">right</button>
            <button type="button" class="btn_left">left</button>
        </div>

        <div class="main">
           
        </div>
    </div> 

    
    <script src="./js/frontView.js"></script>
</body>

</html>